h1 {
    padding: 50px;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    background-color: #E6ECF1;
    color: #2E4057;
  }
  
  body,
  html {
    height: 100%;
  }
  
  .sidebar {
    height: 100%;
  }
  
  button {
    width: 90%;
  }

  .form-div {
    display: flex;
}

.form-div label, p{
    padding: 10px;
}

.form-div input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0px;
}

.email-container {
    max-width: 300px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.password-container {
    max-width: 300px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.valid-form-container{
    max-width: 300px;
    margin: auto;
    border: 1px solid green;
    border-radius: 10px;
}

.valid-form-container p{
    color: green;
}

.invalid-form-container{
    max-width: 300px;
    margin: auto;
    border: 1px solid red;
    border-radius: 10px;
}

.invalid-form-container p{
    color: red;
}
